@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    *::selection {
        background-color: #1E1E1E;
        color: #a36201;
    }
}

@media (prefers-color-scheme: light) {
    *::selection {
        background-color: #e9e9e9;
        color: #a36201;
    }
}

@media (prefers-color-scheme: dark) {

    * {
        color: #fff;
    }

    body {
        background-color: #1e1e1e;
    }
}

@media (prefers-color-scheme: light) {

    * {
        color: #000;
    }

    body {
        background-color: #e9e9e9;
    }
}

.titre {
    text-align: center;
    font-size: 50px;
    font-family: 'Pacifico', cursive;
}

.container {
    /* margin-top: 10vh; */
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 5rem;
    margin: 2rem;
    align-items: center;
}

.box {
    display: initial;
    width: 30vh;
    max-height: 20vh;
    border-radius: 20px;
    border: 2px solid #a36201;
    transition: ease-in-out 0.2s;
    margin-top: 10vh;
    padding-bottom: calc(1.5vh);
}

@media (max-height: 750px) {
    .box {
        padding-bottom: calc(2.3vh);
        margin-top: 5vh;
    }
}

/* refaire les marges sur iphone voir sur discord avec mathis */


.box:hover {
    transform: scale(1.1, 1.1);
}

.box-2:hover {
    transform: scale(1.1, 1.1);
}



.lien {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.image {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border-radius: 20px;
    height: 80%;
    width: 100%;
    align-items: start;
}