@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    *::selection {
        background-color: #1E1E1E;
        color: #a36201;
    }
}

@media (prefers-color-scheme: light) {
    *::selection {
        background-color: #e9e9e9;
        color: #a36201;
    }
}

@media (prefers-color-scheme: dark) {

    * {
        color: #fff;
    }

    body {
        background-color: #1e1e1e;
    }
}

@media (prefers-color-scheme: light) {

    * {
        color: #000;
    }

    body {
        background-color: #e9e9e9;
    }
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;


}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 20vh;
    border-radius: 20px;
    border: 2px solid #a36201;
}

img {
    width: 200px;
}

.titre {
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}